<head>
  <meta charset="UTF-8">
  <title>Climate Smart San Jose Monitoring Dashboard</title>

</head>

<body>

<div class="content">
  <a href="/index">Back</a>
  <h1>Compacts!</h1>
  <h3>Hello {{user.nickname}} !</h3>
  <p>Here you can view existing compacts.</p>
  {{#compactFn compacts}}
    <p><a href="/compacts/{{id}}">{{indicator}}</a>&emsp;{{metric}}&emsp;{{location}}</p>
  {{/compactFn}}
  <p>Would you like to make a new compact?</p>
  <a href="/compacts/new">New Compact</a>
</div>

</body>
